.sc-suggestions-row {
  text-align: center;
  background: inherit;
}

.sc-suggestions-element {
  text-align: center;
  padding: 17px 20px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  font-size: 14px;
  font-style: italic;
}

.sc-user-input--button:first-of-type {
  width: 40px;
}

.sc-user-input--button {
  width: 30px;
  height: 55px;
  margin-left: 2px;
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
}
